/* Created by Kalen Shamy */

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Bai Jamjuree";
  background: rgb(0,56,105);
  color: rgb(200,225,255);
}
a {
  color: rgb(200,225,255);
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
h2 {
  margin-top: 0;
}
p {
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
}
header {
  width: 100%;
  height: 275px;
  transition: 0.5s;
  background: rgb(0,35,75);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 2.5em;
}
noscript {
  display: block;
  color: red;
  text-align: center;
  font-weight: bold;
  margin-top: 7px;
  letter-spacing: 1px;
}
#githubLink {
  position: relative;
  top: 15px;
  left: calc(100% - 47px);
  transition: 0.5s;
}
#githubLink:hover {
  color: rgb(255,255,255);
}
#githubLink path {
  fill: currentColor;
}
#title {
  height: 75%;
  width: 75%;
  max-width: 650px;
  margin: auto;
  padding-top: 65px;
  position: relative;
  bottom: 36px;
  text-shadow: rgb(52 79 111) 3px 3px,
  rgb(52 79 111) 2.75px 2.75px, rgb(52 79 111) 2.5px 2.5px, rgb(52 79 111) 2.25px 2.25px, rgb(52 79 111) 2px 2px,
  rgb(52 79 111) 1.75px 1.75px, rgb(52 79 111) 1.5px 1.5px, rgb(52 79 111) 1.25px 1.25px, rgb(52 79 111) 1px 1px,
  rgb(52 79 111) 0.75px 0.75px, rgb(52 79 111) 0.5px 0.5px, rgb(52 79 111) 0.25px 0.25px;

  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#title h1 {
  margin: 0;
  font-family: "B612 Mono", Georgia, Garamond, serif;
  font-weight: 400;
  text-transform: uppercase;
}
#title {
  font-size: 35px;
  transition: 0.5s;
}
#title #title_1 span, #title #title_2 {
  font-size: 0.5em;
}
#title_2 {
  text-align: right;
  position: relative;
  bottom: 1.25em;
}
#title_3 {
  text-align: right;
  position: relative;
  bottom: 0.25em;
  transition: 0.5s;
}
section {
  padding: 0 25px 1.5em;
  max-width: min(75%,1000px);
  min-width: min(400px,100%);
  margin: auto;
  opacity: 0;
  transition: 1s;
}
#intro p {
  margin-left: 25px;
  margin-right: 15px;
  letter-spacing: 1px;
  font-size: 1.25rem;
}
#intro p span {
  text-decoration: underline;
}
#intro #f_year {
  color: cornflowerblue;
  white-space: nowrap;
}
#intro #f_start, #intro #f_end {
  font-family: "Electrolize";
  color: cornflowerblue;
  letter-spacing: 2px;
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;

  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#intro #f_end {
  text-align: right;
}
.slideshow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.slideshow .slide_button {
  width: 3rem;
  height: 3rem;
  padding: 0.45rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 100%;
  background: rgba(200,225,255,0.125);
  box-shadow: rgba(0,0,0,0.25) 0.35rem 0.35rem;
  transition: 0.35s;
}
.slideshow .slide_button:hover {
  box-shadow: rgba(0,0,0,0.25) 0.15rem 0.15rem;
}
.slideshow .slideshow_content {
  display: flex;
  flex-direction: column;
  width: 70%;
  background: rgba(200,225,255,0.125);
  box-shadow: rgba(0,0,0,0.25) 0.75rem 1rem;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  transition: all 0.25s, background 0s, transform 0.125s;
}
.slideshow .slideshow_content:hover {
  border-radius: 7px;
  box-shadow: rgba(0,0,0,0.25) 0.5rem 0.75rem;
}
.slideshow .slideshow_content_info {
  margin: 15px;
}
.slideshow .slideshow_content_info h2 {
  margin: 0;
}
.slideshow .slideshow_content_links {
  margin-top: 5px;
}
.slideshow .slideshow_content_info a {
  font-weight: bold;
}
#project_info .form {
  margin-left: 7px;
  margin-right: 15px;
}
#project_info .form h3 {
  margin-bottom: 5px;
  font-weight: 400;
}
#project_info .form input {
  width: 100%;
  font-size: 1.25rem;
  font-family: "Bai Jamjuree";
  font-weight: 500;
  padding: 2px 5px;
  background: rgba(200,225,255,0.75);
  border: rgba(0,0,0,0.75) 2px solid;
  border-radius: 5px;
}
#project_info .form textarea {
  resize: none;
  width: 100%;
  font-size: 1.25rem;
  font-family: "Bai Jamjuree";
  font-weight: 500;
  padding: 2px 5px;
  background: rgba(200,225,255,0.75);
  border: rgba(0,0,0,0.75) 2px solid;
  border-radius: 5px;
}
#project_info #project_submit {
  display: block;
  background-color: rgb(0,35,75);
  box-shadow: rgba(0,35,75,0.5) 0.25em 0.25em;
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 15px;
  width: 100%;
  padding: 5px;
  transition: 0.5s;
}
#project_info #project_submit:hover {
  box-shadow: rgba(0,35,75,0.5) 0.125em 0.125em;
}
footer {
  background-color: rgba(0,0,0,0.35);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  text-align: center;
  line-height: 30px;
  padding: 40px 25px 25px 25px;
}
footer a {
  margin: 0 5%;
}


/* Tablet */
@media screen and (min-width: 585px) and (max-width: 925px) {
  header {
   height: 350px;
  }
  #title {
   font-size: 50px;
  }
}

@media screen and (min-width: 815px) {
  header {
    height: 300px;
  }
  #title_3 {
    bottom: 0.75em;
  }
  section {
    max-width: 1000px;
  }
  .slideshow {
    justify-content: space-around;
  }
  .slideshow .slideshow_content {
   flex-direction: row;
  }
  .slideshow .slideshow_content_info {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  }
}

/* Computer */
@media screen and (min-width: 925px) {
  #title {
    font-size: 50px;
  }
}
